@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>Venha conhecer</h3>

<address>
    Danilo Tecnologia<br />
    São Paulo, Rua Ficticia Verdade - 1234<br />
    <abbr title="Phone">P:</abbr>
    CEP: 12345-6789
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">daniloqueirozsilva@salesweb.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingTecnologia@salesweb.com</a>
</address>
